<div class="table-responsive">
<table class="table table-striped fs-6">
  <thead class="bg-dark text-white">
    <tr>
      <th class="t2w-thbg"></th>
      <th class="t2w-thbg">Q<%= quarter %></th>
      <% weekNumbers.forEach(weekNumber => { %>
      <th class="t2w-thbg nowrap">W<%= weekNumber %></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="t2w-thbg"><strong>Score</strong></td>
        <td class="t2w-bg"><strong>Week Close</strong></td>
        <% weekNumbers.forEach(weekNumber => { const closePrice = closePrices[weekNumber]; if (closePrice) { %>
          <td class="t2w-bg <%= closePrice.close > closePrice.previous_close ? '' : 'text-danger' %> fw-bold">
           <%= Number(closePrice.close).toFixed(0) %>
          </td>
        <% } else { %>
          <td></td> <!-- Or whatever you want to display when closePrice is undefined -->
        <% } }) %>
        
      </tr>
      <% predictions.forEach(user => { %>
        <tr>
          <td class="t2w-thbg"><%= user.totalScore %></td>
          <td style="text-align: left;" class="nowrap">
            <% if (user.avatar_url) { %>
              <img src="<%= user.avatar_url %>" alt="<%= user.name %> avatar" style="width: 32px; height: 32px; margin: -3px 5px;">
            <% } else { %>
              <img src="/images/default-avatar.png" alt="Default avatar" style="width: 32px; height: 32px; margin: -3px 5px;"> 
            <% } %>
            &nbsp;<a href="https://www.trade2win.com/members/<%= user.xenforo_id %>/" target="_blank"><%= user.name %></a> <!-- Username -->
            </td>
          <% weekNumbers.forEach(weekNumber => { const prediction = user.predictions[weekNumber]; let bgColorClass = ''; let textColorClass = ''; let fontWeightClass = ''; if (prediction) { const closePrice = closePrices[weekNumber] || closePrices[weekNumber - 1]; if (closePrice) { textColorClass = prediction.direction === -1 && closePrice.close < closePrice.previous_close ? 'text-danger' : ''; } if (prediction.weeklyScore) { switch (prediction.weeklyScore.medal_points) { case 3: bgColorClass = 'bg-gold'; break; case 2: bgColorClass = 'bg-silver'; break; case 1: bgColorClass = 'bg-bronze'; break; } fontWeightClass = prediction.weeklyScore.direction_points > 0 ? 'fw-bold' : ''; } } %>
            <td class="<%= bgColorClass %> <%= textColorClass %> <%= fontWeightClass %>" data-prediction="<%= JSON.stringify(prediction) %>">
              <%= (prediction && prediction.prediction) || '' %>
            </td>
            <% }) %>
          </tr>
        <% }) %>
      
        
  </tbody>
</table>
</div>
<div class="mt-4 text-center">

  <table class="mx-auto small">
    <tr><td colspan="2" style="text-align: left"><h6><strong>CONTEST KEY</strong></h6></td></tr>
    <tr>
      <td style="text-align: left">↑</td>
      <td style="text-align: left">Up direction</td>
    </tr>
    <tr>
      <td style="text-align: left; color: red">↓</td>
      <td style="text-align: left; color: red">Down direction</td>
    </tr>
    <tr>
      <td style="text-align: left">✔️</td>
      <td style="text-align: left"><strong>Correct direction</strong></td>
    </tr>
    <tr>
      <td style="text-align: left; background-color: gold">🥇</td>
      <td style="text-align: left; background-color: gold">1st Place</td>
    </tr>
    <tr>
      <td style="text-align: left; background-color: silver">🥈</td>
      <td style="text-align: left; background-color: silver">2nd Place</td>
    </tr>
    <tr>
      <td style="text-align: left; background-color: #cd7f32"">🥉</td>
      <td style="text-align: left; background-color: #cd7f32">3rd Place</td>
    </tr>
  </table>
</div>

