<%- include('../partials/header', {user: user}); %>

<h1><%= title %></h1>
<h1>The current price is <%= sp500Price %></h1>

<%- include('../partials/resultsTable', { predictions: predictions, quarter:
quarter, year: year, weekNumbers: weekNumbers }); %> <%-
include('../partials/footer'); %>
