<%- include('../partials/header', {user: user}); %>

<h1><%= title %></h1>
<h2>
  Current price: <%= sp500Price %> <% if (sp500Price > previousClose) { %>
  <span class="text-success">&uarr;</span>
  <!-- Up arrow for price increase -->
  <% } else if (sp500Price < previousClose) { %>
  <span class="text-danger">&darr;</span>
  <!-- Down arrow for price decrease -->
  <% } %>
</h2>
<p class="text-muted">
  Last week's S&P 500 close was <strong><%= previousClose.toFixed(2) %></strong>
</p>

<p>
  Join the conversation here:
  <a
    href="https://www.trade2win.com/threads/s-p500-weekly-forecasting-competition-for-2023.241639/unread"
    target="_blank"
    >S&P500 - Weekly Forecasting Competition for 2023</a
  ><br />
  <span class="text-muted"
    >Note that <strong>T2W Bot</strong> uses the average of all submitted
    predictions each week.</span
  >
</p>
<%- include('../partials/resultsTable', { predictions: predictions, quarter:
quarter, year: year, weekNumbers: weekNumbers }); %> <%-
include('../partials/footer'); %>
